<!DOCTYPE html>
<html lang="en">
<head>
  <title>Admin Dashboard</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
        crossorigin="anonymous">

</head>
<body>
<div class="mt-4 border border-primary d-flex justify-content-center align-self-center">
  <div class="m-3">
    <form class="align-self-center mb-4" name="form" th:method="POST">
      <label for="category" class="sr-only">Categories</label>
      <input type="text" id="category" name="category" class="form-control mb-4"
             placeholder="Category">

      <button th:formaction="@{/admin-dashboard/add-category}" th:method="POST"
              class="btn btn-light" type="submit">Add
      </button>
      <button th:formaction="@{/admin-dashboard/remove-category}" th:method="POST"
              class="btn btn-light" type="submit">Remove
      </button>
    </form>
  </div>
  <div class="m-3">
    <form class="align-self-center mb-4" name="form" th:method="POST">
      <label for="videoId" class="sr-only">Videos</label>
      <input type="text" id="videoId" name="videoId" class="form-control mb-4"
             placeholder="Video Id">
      <div class="mb-2">
        <select class="form-select form-select-sm"
                id="categorySelect" name="categorySelect">
          <option th:each="category : ${categoryList}" th:text="${category.name}"
                  th:value="${category.name}">
          </option>
        </select>
      </div>
      <button th:formaction="@{/admin-dashboard/add-video}" class="btn btn-light" type="submit">
        Add
      </button>
      <button th:formaction="@{/admin-dashboard/remove-video}" class="btn btn-light" type="submit">
        Remove
      </button>
    </form>
  </div>
  <div class="m-3">
    <form class="align-self-center mb-4" name="form" th:method="POST">
      <label for="newCategory" class="sr-only">Save all videos with category from youtube</label>
      <input type="text" id="newCategory" name="newCategory" class="form-control mb-4"
             placeholder="new Category">
      <div class="mb-2">
        <select class="form-select form-select-sm"
                id="selectedCategory" name="selectedCategory" th:value="''">
          <option th:text="''"
                  th:value="''">
          </option>
          <option th:each="category : ${categoryList}" th:text="${category.name}"
                  th:value="${category.name}">
          </option>
        </select>
      </div>
      <button th:formaction="@{/admin-dashboard/add-video-with-category}" class="btn btn-light"
              type="submit">
        Create
      </button>
    </form>
  </div>
</div>
<div class="float-right m-4">
  <form th:action="@{/log-out}" class=" align-self-center mb-4" name="form"
        th:method="GET">
    <button class="btn btn-dark" type="submit">
      Logout
    </button>
  </form>
</div>
</body>
</html>