<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org" lang="en">
<head>
    <title>Log in</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet"
          href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
          crossorigin="anonymous">

</head>
<body class="d-flex justify-content-center align-items-center text-center">
<div class="container-sm">
    <div th:height="130" class="mb-4"></div>
    <form class="form-signin align-self-center" name="form" th:action="@{/log-in}" method="post">
        <h1 class="h3 mb-3 font-weight-normal ">Please log in</h1>

        <div th:if="${param.accepted}">
            You have been logged in.
        </div>

        <div th:if="${param.error}">
            Invalid username and password.
        </div>

        <div th:if="${param.signout}">
            You have been logged out.
        </div>

        <label for="user" class="sr-only">Email address</label>
        <input type="text" id="user" name="user" class="form-control" placeholder="Username" required=""
               autofocus="">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control mb-4" placeholder="Password">

        <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>

        <button class="btn btn-lg btn-primary btn-block" type="submit">Log in</button>
    </form>
</div>
</body>
</html>